:host {
  display: block;
}

.color-block {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1em;
}

.label {
  margin-bottom: 0.618em;
}

.color-input {
  width: 100%;
}

.color-hsl {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 0.618em;
}

.color-input,
.color-hsl {
  padding: 0.3em 0.6em;
}

.label-offset {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1em;
  padding-right: 0.618em;
  height: 100%;

  &.dark {
    color: white;
  }
}

.color-var-line {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: stretch;
  margin-bottom: 0.3em;
}

.offset-value {
  background-color: #fff;
  width: 100%;
  min-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offsets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  margin-left: 1em;
}

.offset {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid grey;
  background-color: #fff;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.27);
}
