<div
  class="color-block"
  *ngIf="color"
  [style]="'background-color: ' + backgroundColor + ';'"
>
  <div class="block-half">
    <div class="label">{{ color.name }}</div>
    <form #colorForm="ngForm"><input class="color-input" name="color" [(ngModel)]="color.color" /></form>
    <div class="color-hsl">{{ color.color | hexToHsl }}</div>
  </div>
  <div class="block-half">
    <div class="color-var-line" *ngFor="let offset of color.offsets">
      <div
        class="label label-offset"
        [style]="'background-color: ' + offset.value + ';'"
        [ngClass]="{
          dark: shouldHaveClassDark(offset.value)
        }"
      >
        {{ offset.label }}
      </div>
      <div class="offset-value">{{ offset.value }}</div>
      <div class="offsets">
        <div class="offset" *ngFor="let set of offset.offsetArray">
          {{ set }}
        </div>
      </div>
    </div>
  </div>
</div>
