.main-page {
  min-height: 100vh;
  background-color: #c2c2c2;
  padding: 2em;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0.618em;
  text-align: center;
  font-size: 3.4em;
}

.blocks {
  max-width: 80rem;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.27);
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.17);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1em;
}

.block {
  border: 1px solid #c2c2c2;
}
